@charset "UTF-8";

body {
  font-size: small;
}

body > header {
  min-height: 57px;
}
    
.container > h1 {
  height: 60px;
  /* border: 1px solid red; */
  /* text-align: center; */
}

div.bit-list {
  min-height: 200px;
}

div.container {
  width: 800px;
}

.profile {
	display: block; 
	margin: 0px auto;
	width: 150px;
}

.bit-invisible {
  display: none;
}

#bit-login-state {
  margin: 0px 10px;
}

#bit-not-login-state {
  margin: 0px 10px;
}


